.newGoal {
  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  margin: 40px auto 100px;
  height: 32.563rem;
  border-radius: 1rem;
  position: relative;
  max-width: 30.188rem;
  width: 86%;
  box-shadow: 7.18426px 7.18426px 10.7764px rgba(227, 233, 240, 0.5);
  background: #fff;
  display: "block";
  h1 {
    font-size: 0;
  }
  .modalTop {
    background: #73bcff;
    height: 3.625rem;
    border-radius: 0.5rem 0.5rem 0 0;
    > svg {
      position: absolute;
      right: 0.813rem;
    }
  }
  .newGoalForm {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .ageListWrapper {
      margin-top: 0.875rem;
      display: flex;
      white-space: pre;
      gap: 8px 50px;
      flex-direction: column;
      transform: translateX(-3rem);
      > label {
        font-weight: bold;
        font-size: 0.813rem;
        line-height: 1.25rem;
        color: #2d2d2d;
      }
      .ageList {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem 0.5rem;
      }
    }
    .textareaWrapper {
      margin-top: 7px;
      width: 100%;
      position: relative;
      .text {
        margin-top: 10px;
        resize: none;
        background: #f7f8fa;
        border-radius: 4px;
        border: none;
        width: 93%;
        height: 15.625rem;
        padding: 0.5rem 1rem;
        &:focus {
          outline: 0;
        }
      }
    }
    .goalCategoryWrapper {
      margin-top: 1rem;
      transform: translateX(-0.5rem);
      position: relative;
      > label span {
        font-weight: bold;
        font-size: 0.813rem;
        line-height: 1.25rem;
        color: #2d2d2d;
      }
      .goalWrapper {
        display: flex;
        .inputBox {
          cursor: text;
          width: 19.375rem;
          height: 3.375rem;
          background: #f7f8fa;
          border-radius: 0.25rem;
          overflow: hidden;
          position: relative;
          .goalCategorySearchInput {
            max-width: 19.375rem;
            height: 3.375rem;
            position: absolute;
            left: 0;
            background: #f7f8fa;
            outline: none;
            border: none;
            &:focus {
              outline: none;
            }
          }
        }
        .selectedGoalCategories {
          position: absolute;
          left: 3px;
          top: 34px;
          display: flex;
          gap: 0.25rem;
          font-weight: bold;
          > li {
            border: 1px solid #73bcff;
            padding: 0.2rem 0.6rem;
            font-size: 1rem;
            line-height: 26px;
            color: #73bcff;
            height: 1rem;
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            &::before {
              content: " # ";
            }
          }
        }

        .goalCategoryList {
          position: absolute;
          top: 80px;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          li {
            display: flex;
            padding: 0px;
            background: #ffffff;
            width: 10.5rem;
            height: 2.25rem;
            font-size: 13px;
            line-height: 20px;
            color: #36332e;
            align-items: center;
            cursor: pointer;
            &:last-child {
              border-radius: 0 0 8px 8px;
            }
            &:not(:last-child) {
              box-shadow: inset 0px -0.5px 0px rgba(0, 0, 0, 0.1);
            }
            &::before {
              content: " # ";
              margin-left: 20px;
            }
          }
        }
        .submitButton {
          margin-left: 15px;
          width: 5.125rem;
          height: 3.375rem;
          border-radius: 4px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #e8f3ff;
          border-radius: 4px;
          border: none;
        }
      }
    }
    .validationFail {
      font-size: 0.7rem;
      color: red;
    }
  }
}

@media (min-width: 1200px) {
  .newGoal {
    max-height: 32.563rem;
    width: 483px;
    margin-left: 18px;
  }
}
.displayNone {
  display: none;
}
