.newGoal {
  ol,
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7%;
  margin: auto 0;
  max-width: 30.188rem;
  width: 86%;
  max-height: 19.212rem;
  border-radius: 0.5rem;
  background: $white;
  h1 {
    font-size: 0;
  }
  .modalTop {
    background: $secondary-accent;
    height: 1.375rem;
    border-radius: 0.5rem 0.5rem 0 0;
    .newGoalChar {
      position: absolute;
      right: 0;
      top: 7px;
    }
  }
  .newGoalForm {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .ageListWrapper {
      width: 100%;
      position: relative;
      margin-top: 0.875rem;
      display: flex;
      justify-content: right;
      white-space: pre;
      label {
        position: absolute;
        left: 4px;
        font-weight: bold;
        font-size: 0.813rem;
        line-height: 1.25rem;
        color: $black;
      }
      .ageList {
        margin-left: 85px;
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem 0.5rem;
      }
    }
    .textareaWrapper {
      margin-top: 10px;
      width: 100%;
      font-size: 13px;
      position: relative;
      display: flex;
      justify-content: center;
      .text {
        resize: none;
        background: $grey-4;
        border-radius: 4px;
        border: none;
        width: 92%;
        height: 4.813rem;
        padding: 10px 15px;
        &:focus {
          outline: 0;
        }
      }
    }
    .goalCategoryWrapper {
      position: relative;
      margin-top: 7px;
      width: 100%;
      > label span {
        font-weight: bold;
        font-size: 0.813rem;
        line-height: 1.25rem;
        color: $black;
      }
      .goalWrapper {
        display: flex;
        align-items: center;
        width: 100%;
        .inputBox {
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
          color: #36332e;
          cursor: text;
          width: 100%;
          height: 1.813rem;
          background: $grey-4;
          border-radius: 0.25rem;
          overflow: hidden;
          position: relative;
          .goalCategorySearchInput {
            position: absolute;
            left: 0;
            background: $grey-4;
            height: 1.813rem;
            outline: none;
            border: none;
            :focus {
              outline: none;
            }
          }
        }
        .selectedGoalCategories {
          position: absolute;
          display: flex;
          gap: 0.25rem;
          > li {
            border: 0.5px solid $secondary-accent;
            color: $secondary-accent;
            height: 1rem;
            padding: 0.12rem 0.12rem;
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 13px;
            line-height: 20px;
            &::before {
              content: " # ";
            }
          }
        }
        .goalCategoryList {
          position: absolute;
          top: 50px;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .searchingCategory {
            color: $primary;
            span {
              &::after {
                font-size: 0.4rem;
                content: "  (새 카테고리 등록)";
              }
            }
          }
          li {
            display: flex;
            padding: 0px;
            background: $white;
            width: calc(100vw - 170px);
            height: 2.25rem;
            font-size: 13px;
            line-height: 20px;
            color: #36332e;
            align-items: center;
            cursor: pointer;
            &:first-child {
              box-shadow: inset 1px -0.5px 1px rgba(0, 0, 0, 0.1);
            }
            &:last-child {
              border-radius: 0 0 8px 8px;
            }
            &:not(:last-child) {
              box-shadow: inset 1px -0.5px 1px rgba(0, 0, 0, 0.1);
            }
            span {
              &:before {
                content: " # ";
                margin-left: 20px;
              }
            }
          }
        }
      }
      .submitButton {
        margin-top: 0.5rem;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 0;
        align-items: center;
        justify-content: center;
        width: 3.875rem;
        height: 1.813rem;
        background: #e8f3ff;
        border-radius: 4px;
        border: none;
      }
    }
  }
  .validationFail {
    padding-top: 10px;
    font-size: 0.7rem;
    color: red;
  }
}

@media (min-width: 483px) {
  .ageList {
    margin-left: 40px;
  }
}

@media (min-width: 499px) {
  .newGoal {
    max-height: 17.243rem;
  }
}
@media (min-width: 576px) {
  .newGoal {
    left: calc(50% - 15.94rem);
    max-height: 32.563rem;
    border-radius: 1rem;
    .modalTop {
      height: 3.625rem;
    }
    .newGoalForm {
      margin: 0 2rem;
      .ageListWrapper {
        flex-direction: column;
        label {
          position: relative;
        }
        .ageList {
          margin-top: 10px;
          margin-left: 0;
        }
      }
      .textareaWrapper {
        font-size: 18px;
        .text {
          width: 94%;
          height: 15.625rem;
        }
      }
      .goalCategoryWrapper {
        margin-top: 1rem;
        .goalWrapper {
          .inputBox {
            width: 19.375rem;
            height: 3.375rem;
            .goalCategorySearchInput {
              max-width: 19.375rem;
              height: 3.375rem;
            }
          }
          .goalCategoryList {
            top: 80px;
            li {
              display: flex;
              padding: 0px;
              background: $white;
              width: 10.5rem;
              height: 2.25rem;
              font-size: 13px;
              line-height: 20px;
              color: #36332e;
              align-items: center;
              cursor: pointer;
            }
          }
          .selectedGoalCategories {
            left: 3px;
            top: 34px;
            display: flex;
            gap: 0.45rem;
            font-weight: bold;
            li {
              border: 1px solid $secondary-accent;
              color: $secondary-accent;
              height: 1rem;
              padding: 0.2rem 0.6rem;
              font-size: 1rem;
              line-height: 26px;
            }
          }
        }
        .submitButton {
          transform: translateY(-4.212rem);
          margin-left: 15px;
          width: 5.125rem;
          height: 3.375rem;
          border-radius: 4px;
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .newGoal {
    top: auto;
    left: auto;
    right: 5.625rem;
    bottom: 5rem;
    max-height: 32.563rem;
  }
}

.displayNone {
  display: none;
}
