.main {
  margin-top: 52px;
}
.nav {
  background-color: $primary;
  width: 100vw;
  height: 53.87px;
  display: flex;
  z-index: 999;
  position: fixed;
  top: 0;
  justify-content: space-between;
  .active {
    font-weight: bold;
  }
  .logoBox {
    margin-left: 11.726562vw;
    padding-left: 7.083333vw;
    display: flex;
    align-items: center;
  }
  .menuBox {
    display: flex;
    align-items: center;
    padding-right: 7.083333vw;
  }
  .menuBox > a {
    text-decoration: none;
    white-space: nowrap;
    display: block;
    margin: 0 17px;
    font-size: 13px;
  }
  .logo {
    margin: 0;
    font-size: 0;
    flex-basis: 85%;
  }
  @media (max-width: 575px) {
    background-color: #f0f6fb;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    top: 0;
    padding: 0;

    .notMobile {
      display: none;
    }
    .menuBox {
      flex-direction: column;
      padding: 0 16px;
    }
    .toggled {
      display: flex;
    }
    .notToggled {
      display: none;
    }
    .logoBox {
      height: 52px;
      width: 100%;
      margin: 0;
      padding: 0 4.0625vw 0 5.78125vw;
      fill: #FFFFFF;
    }
    .mobile {
      display: flex;
      align-items: center;
      width: 90vw;
      justify-content: space-between;
    }
    .mobileLogo {
      flex-grow: 1;
      flex-basis: 70%;
    }
    .stroke_white{
      stroke: $white;
    }
    .fill_white{
      fill: $white;
    }
    .stroke_primary {
      stroke: $primary;
    }
    .fill_primary {
      fill: $primary;
    }
    .menuBox > a {
      width: 100%;
      padding: 4.375vw 0 5.625vw 0;
      border-bottom: 0.8px solid #ffffff;
      font-size: 13px;
      line-height: 20px;
    }
  }
  @media (min-width: 576px) {
    .nav {
      justify-content: space-between;
    }
    .mobile {
      display: none;
    }
    .logoBox {
      margin-left: 0vw;
    }
  }
  @media (min-width: 1200px) {
    .logoBox {
      margin-left: 11.726562vw;
    }
  }
}

@media (max-width: 575px) {
  .goal,
  .vote {
    background-color: $white;
  }
  .saving-calc {
    background-color: $grey-4;
  }
  .backgroundColor_primary {
    background-color: $primary;
  }
  .height_open {
    height: 100vh;
  }
  .height_close {
    height: 52px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 73px;
  padding-left: 8.59375vw;
  padding-right: 8.59375vw;
  line-height: 24px;
  background: $grey-4;
}
.address {
  margin: 40px 0px;
  font-style: inherit;
}
.address > span {
  display: block;
}
.address__detail {
  display: inline-block;
}
.link {
  color: $black;
  text-decoration: none;
}
.company_name {
  font-size: 16px;
  margin: 0px;
}