.GoalDropdown {
  .GoalDropdownSelect {
    position: absolute;
    right: 0;
    width: 87px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    border: none;
    outline: none;
    color: #111111;
    background: url("/img/dropdownArrow.svg") right $blueBgColor-1;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    background-position-y: 7px;
    background-position-x: 50px;
  }
}
