.main_goal {
  background: #f0f6fb;
  a {
    text-decoration: none;
    color: #000000;
  }
  .container {
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 27px;
  }
  @media (min-width: 575px) {
    .container {
      width: 576px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1200px;
      padding-top: 86px;

      padding-bottom: 106px;
    }
    .respon {
      display: flex;
      padding-bottom: 100px;
    }
  }
}

.main_title {
  margin-left: 22px;
  h1 {
    margin: 3px 0 6px;
    font-size: 22px;
    line-height: 28px;
  }
  span {
    color: #888888;
    font-size: 13px;
    line-height: 20px;
  }
  @media (min-width: 576px) {
    h1 {
      font-size: 28px;
      line-height: 36px;
    }
    span {
      font-size: 18px;
      line-height: 28px;
    }
  }
  @media (min-width: 1200px) {
    h1 {
      font-size: 40px;
      line-height: 60px;
    }
    span {
      font-size: 28px;
      line-height: 36px;
    }
  }
}

.main_goal_btns {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 14px;
  font-weight: 700;
  text-decoration: none;

  margin-top: 24px;
  a {
    text-decoration: none;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 174px;
    height: 46px;

    margin-top: 8px;
    margin-left: 35px;

    border: 1px solid #3178ff;
    border-radius: 8px;

    cursor: pointer;
  }
  .btn.blog {
    background: #ffffff;

    color: #3178ff;
  }
  .btn.more {
    background: #3178ff;

    color: #ffffff;
  }
  @media (min-width: 575px) { 
    flex-direction: row;
    
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    .btn {
      width: 218px;
      height: 58px;
    }
    a + a {
      margin-left: 34px;
    }
  }
  @media (min-width: 1200px){
    margin-top: 50px;
    margin-left: 650px;
  }
}

.main_goal_item {
  width: 240px;
  list-style: none;
  margin: 0 auto;
}

.main_goal_slider {
  margin: 0 20px;
  .item {
    position: relative;

    width: 240px;
    height: 272px;

    margin: 26px auto 20px;

    background: #ffffff;
    box-shadow: 0px 4px 10px 4px #e3e9f0;
    border-radius: 8px;

    cursor: pointer;

    .info {
      color: #b2b2b2;
      font-size: 13px;
      line-height: 20px;

      padding-top: 20px;
      margin-left: 18px;
    }
    .categories {
      ul {
        list-style: none;

        color: #73bcff;
        display: flex;

        padding-top: 8px;
        padding-left: 12px;
        li {
          font-size: 13px;

          width: 65px;
          height: 26px;

          margin-left: 6px;

          border: 1.3px solid #73bcff;
          box-sizing: border-box;
          border-radius: 20px;

          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .text {
      font-size: 14px;
      line-height: 22px;

      margin: 22px 17px 0;
    }
    .Icons {
      position: absolute;
      display: flex;

      margin-left: 18px;
      bottom: 17px;
      span {
        color: #000000;

        font-size: 14px;
        font-weight: 700;

        margin-left: 4px;
      }
      .likes {
        display: flex;
        align-items: center;
      }
      .comments {
        display: flex;
        align-items: center;

        margin-left: 12px;
      }
    }
  }
}

.goal_slider {
  position: relative;
  background: #f0f6fb;
  .no_goal_slider {
    width: 542px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media (min-width: 1200px) {
    .no_goal_slider {
      position: absolute;
      left: 120px;
      top: -170px;
    }
  }
}
