.button {
  width: 220px;
  height: 34px;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-size: 12px;
  color: #b2b2b2;
  border: none;
  border-radius: 8px;
  background: #d6d8dc;
  cursor: pointer;
  @media (min-width: 576px) {
    width: 333px;
    height: 37px;
    font-weight: 500;
    font-size: 14px;
    color: #989c9e;
    border-radius: 5px;
    background: #d9dde3;
  }
  @media (min-width: 1200px) {
    width: 644px;
    height: 72px;
    font-size: 26px;
    border-radius: 10px;
  }
}
.button.next {
  color: #fff;
  background: #3178ff;
}
.button.done {
  color: #fff;
  background: #3178ff;
}