.box {
  width: 280px;
  padding: 20px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(71, 72, 75, 0.1);
  border-radius: 12px;
  margin: 0 auto 32px;
  @media (min-width: 576px) {
    width: 408px;
    padding: 23px 37px 21px;
    border-radius: 16px;
    margin: 0 auto 40px;  
  }
  @media (min-width: 1200px) {  
    width: 789px;
    padding: 49px 72px 42px;
    border-radius: 30px;
    margin: 0 auto 60px;
  }
}

