/* common */
.title {
  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
    position: relative;
    @media (min-width: 576px) {
      font-size: 21px;
    }
    @media (min-width: 1200px) {
      font-size: 40px;
    }
    &::before {
      content: "";
      height: 8px;
      background: rgba(143, 201, 255, 0.7);
      opacity: 0.4;
      position: absolute;
      top: 17px;
      left: -2px;
      @media (min-width: 576px) {
        height: 8px;
        top: 20px;
        left: -2px;
      }
      @media (min-width: 1200px) {
        height: 16px;
        top: 35px;
        left: -2px;
      }
    }
  }
}

.input {
  border: none;
  border-bottom: 1px solid #e3e7ed;
  margin: 20px 4px 0 0;
  font-size: 14px;
  text-align: right;

  @media (min-width: 576px) {
    border-bottom: 2px solid #e3e7ed;
    margin: 20px 8px 0 0;
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    margin: 39px 15px 0 0;
    font-size: 30px;
  }
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #b2b2b2;
  }
  
}
.hidden{
  display: none;
}

/* goalInput */  
.title.goal{
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
  align-items: center;
  @media (min-width:576px){
    margin-bottom: 20px;
  }
  @media (min-width:1200px){
    margin-bottom: 33px;
  }
  h2{
    width: 92px;
    @media (min-width:576px){
      width: 113px;
    }
    @media (min-width:1200px){
      width: 206px;
    }
    &::before {
      width: 92px;
      @media (min-width:576px){
        width: 105px;
      }
      @media (min-width:1200px){
        width: 160px;
      }
    }
  }
}         
.goal {
  margin-bottom: 200px;
  @media (min-width:576px){
    margin-bottom: 152px;
  }
  @media (min-width:1200px){
    margin-bottom: 297px;
  }
  p {
    margin: 0;
    font-size: 14px;
    @media (min-width:576px){
      font-size: 18px;
    }
    @media (min-width:1200px){
      font-size: 34px;
    }
  }
  span {
    font-size: 10px;
    color: red;
    @media (min-width:576px){
      font-size: 12px;
    }
    @media (min-width:1200px){
      font-size: 15px;
    }
  }
}
.goal_input {
  position: relative;
  input {
    width: 188px;
    @media (min-width:576px){
      width: 267px;
    }
    @media (min-width:1200px){
      width: 516px;
    }
  }
  span {
    position: absolute;
    top: 45px;
    left: 0;
    @media (min-width:576px){
      top: 42px;
    }
    @media (min-width:1200px){
      top: 25px;
    }
  }
}
 
/* amountInput */ 
.title.amount{
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  @media (min-width:576px){
    margin-bottom: 19px;
  }
  @media (min-width:1200px){
    margin-bottom: 45px;
  }
  h2 {
    width: 178px;
    @media (min-width:576px){
      width: 192px;
    }
    @media (min-width:1200px){
      width: 365px;
    }
    &::before {
      width: 160px;
      @media (min-width:576px){
        width: 192px;
      }
      @media (min-width:1200px){
        width: 365px;
      }
    }
  }
}
.amount {
  margin-bottom: 59px;
  @media (min-width:576px){
    margin-bottom: 30px;
  }
  @media (min-width:1200px){
    margin-bottom: 58px;
  }
  input {
    width: 175px;
    @media (min-width:576px){
      width: 248px;
      margin: 15px 10px 0 0;
    }
    @media (min-width:1200px){
      width: 488px;
      margin: 35px 15px 5px 0;
    }
  }
  p {
    margin: 0;
    font-size: 14px;
    @media (min-width:576px){
      font-size: 18px;
    }
    @media (min-width:1200px){
      font-size: 34px;
    }
  }
  span {
    font-size: 10px;
    color: red;
    @media (min-width:576px){
      font-size: 12px;
    }
    @media (min-width:1200px){
      font-size: 20px;
    }
  }
}

.goal_amount {
  margin-bottom: 29px;
  position:relative;
  @media (min-width:576px){
    margin-bottom: 20px;
  }
  span{
    position:absolute;
    left:0;
    top:19px;
    @media (min-width:576px){
      top:25px;
    }
     @media (min-width:1200px){
      top:45px;
    }
  }
}
.saving_amount{
  position:relative;
   span{
    position:absolute;
    left:0;
    top:19px;
    @media (min-width:576px){
      top:22px;
    }
     @media (min-width:1200px){
      top:45px;
    }
  }
}

/* result */

.title.result {
    width: 200px;
    margin-bottom: 24px;
    @media (min-width:576px) {
      width: 100%;
      margin-bottom: 27px;
    }
    @media (min-width:1200px) {
      margin-bottom: 51px;
    }
    span {
      position: relative;
      font-size: 18px;
      color: #3178ff;
      @media (min-width:576px) {
        font-size: 20px;
      }
      @media (min-width:1200px) {
        font-size: 40px;
      }
      &::before {
        content: "";
        position: absolute;
        height: 8px;
        background: rgba(143, 201, 255, 0.7);
        opacity: 0.4;
        top: 17px;
        left: -2px;
        @media (min-width:576px) {
          height: 8px;
          top: 17px;
          left: -2px;
        }
        @media (min-width:1200px) {
          height: 16px;
          top: 35px;
          left: -2px;
        }
      }
    }
  }
.result_wrap {
  margin-bottom: 82px;
  @media (min-width:576px) {
    margin-bottom: 25px;
  }
  @media (min-width:1200px) {
    margin-bottom: 57px;
  }
}