.vote_box {
  cursor: pointer;
  position: relative;
  width: 233px;
  height: 322px;
  box-sizing: border-box;
  padding: 15px 10px 0px;
  margin: 10px auto;
  background-color: $white;
  box-shadow: 0px 4px 9px 4px rgba(227, 231, 237, 0.8);
  border-radius: 8px;
  .subject_box {
    padding-bottom: 11px;
    margin: 0 0 17px;
    border-bottom: 1px solid $grey-3;
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    height: 40px;
  }
  .vote_select_items {
    display: flex;
    align-items: center;
    background-color: $grey-6;
    height: 39px;
    border-radius: 8px;
    margin-bottom: 7px;
    padding-left: 9px;
    .radio_btn[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 1px solid $grey-2;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background-color: $white;
    }
    label {
      font-size: 12px;
      font-weight: 400;
      margin-left: 4px;
    }
  }
  .favorite_comment {
    position: absolute;
    bottom: 15px;
    left: 18px;
    height: 19px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    span {
      margin-left: 4px;
    }
    .favorite {
      margin-right: 11px;
    }
  }
}

@media (min-width: 576px) {
  .vote_box {
    width: 248px;
    height: 304px;
    padding: 21px 17px 0px;
    .subject_box {
      padding-bottom: 10px;
      margin: 0 0 16px;
      font-size: 16px;
      line-height: 21px;
      height: 42px;
    }
    .vote_select_items {
      height: 36px;
    }
  }
}

@media (min-width: 1200px) {
  .vote_box {
    width: 278px;
    height: 340px;
    padding: 24px 20px 0px;
    .subject_box {
      padding-bottom: 12px;
      margin-bottom: 18px;
      font-size: 18px;
      line-height: 24px;
      height: 48px;
    }
  }
  .vote_select_items {
    height: 41px;
    padding-left: 10px;
    .radio_btn[type="radio"] {
      height: 9px;
      width: 9px;
    }
    label {
      font-size: 13px;
    }
  }
  .favorite_comment {
    bottom: 15px;
    font-size: 13px;
    .favorite {
      margin-right: 11px;
    }
  }
}
