@import "../common/FavoriteCommentShare.module.scss";
@import "../common/ShowListButton.module.scss";
@import "./VoteButton.module.scss";

.container {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px 20px 0;
  background-color: $white;
  .title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 4px;
  }
  .text {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 20px;
    padding-bottom: 21px;
    color: $grey-1;
    border-bottom: 1px solid $grey-3;
  }
  .votebox_list {
    padding: 0;
    margin: 0;
    &.click_block {
      pointer-events: none;
    }
    .vote_box {
      border-radius: 4px;
      height: 36px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      padding: 0 8px;
      box-sizing: border-box;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
      .currentGauge {
        position: absolute;
        left: 0;
        background-color: $gauge;
        height: 100%;
        border-radius: 4px;
      }
      .votePercent {
        position: absolute;
        right: 8px;
        font-size: 13px;
        font-weight: 700;
        color: #888888;
        padding: 9px 5px;
      }
      .radio_btn[type="radio"] {
        display: none;
        &:checked + label:before {
          height: 5px;
          width: 5px;
          border: 4px solid $primary;
        }
      }
      .radio_label {
        cursor: pointer;
        white-space: pre;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 95%;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: $text-1;
        padding: 0 18px;
        &.active:before {
          position: absolute;
          content: "";
          height: 8px;
          width: 8px;
          border: 2px solid $grey-2;
          border-radius: 50%;
          margin-right: 10px;
          left: 0;
          background-color: $white;
        }
      }
      .clicked_Background {
        background-color: #e8f3ff;
      }
      .notClicked_Background{
        background-color: $grey-5;
      }
    }
  }
}

@media (min-width: 576px) {
  .wrapper {
    padding: 0px 20px;
    background-color: #f7f8fa;
    .container {
      padding: 68px 60px;
      width: 90%;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
      margin: 0 auto;
      .title {
        font-size: 22px;
        margin-bottom: 10px;
        line-height: 32px;
      }
      .text {
        font-size: 16px;
        margin-bottom: 34px;
      }
      .votebox_list {
        .vote_box {
          background-color: $grey-6;
          height: 70px;
          margin-top: 17px;
          .currentGauge {
            border-radius: 8px;
          }
          .votePercent {
            right: 24px;
            font-size: 18px;
          }
          .radio_btn[type="radio"] {
            &:checked + label:before {
              height: 9px;
              width: 9px;
              border: 7px solid $primary;
            }
          }
          .radio_label {
            font-size: 16px;
            padding: 0 35px;
            &.active:before {
              height: 18px;
              width: 18px;
              border: 2px solid $grey-2;
              left: 5px;
            }
            &.shrink {
              padding-left: 0px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 319px) {
  .container {
    .votebox_list {
      .vote_box {
        .radio_label {
          &.shrink {
            padding-left: 0px;
          } 
        }
      }
    }
  }
}
@media (min-width: 700px) {
  .wrapper{
    .container {
      padding: 68px 100px;
      .votebox_list {
        .vote_box {
          .radio_label {
            font-size: 18px;
            &.shrink {
              margin-left: 34px; 
            }
          }
        }
      }
    }
  }
}

