@import "../vote/VoteBanner.module.scss";

.vote_box_list {
  background-color: $blueBgColor-1;
  box-sizing: border-box;
  padding: 20px 0;
  .vote_box_list_container {
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: fit-content;
    margin: 0 auto;
    .link {
      color: #000;
      text-decoration: none;
      outline: none;
      &:hover,
      &:active {
        text-decoration: none;
      }
    }
  }
  .loading_page {
    margin: 0 auto;
    width: 276px;
  }
}

@media (min-width: 576px) {
  .vote_box_list {
    padding: 28px 0;
    .vote_box_list_container {
      width: 590px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .loading_page {
      margin: 0 auto;
      width: 590px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media (min-width: 1200px) {
  .vote_box_list {
    padding: 40px 0;
    .vote_box_list_container {
      width: 1200px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
    }
    .loading_page {
      margin: 0 auto;
      width: 1200px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
