.slick_container {
  position: relative;
  margin: 16px auto 22px;
  list-style: none;
  padding: 0;
  width: 90%;
}
.slick_arrow {
  position: absolute;
  top: 44%;
  z-index: 1;
}
.slick_arrow:before {
  content: "";
  left: 0;
}
.slick_arrow:last-child {
  right: 0;
}

@media (min-width: 577px) {
  .slick_container {
    width: 575px;
  }
}

@media (min-width: 650px) {
  .slick_container {
    width: 580px;
  }
}

@media (min-width: 1200px) {
  .slick_container {
    width: 1000px;
    
  }
}

