.title {
  display: flex;
  margin-bottom: 8px;
  p {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 8px;
    margin: 0 5px 0 0;
    @media (min-width: 576px) {
      font-size: 16px;
    }
  }
  span{
    margin:1px 0 0 5px;
    color: #888888;
    font-weight: 700;
    font-size: 12px;
    @media (min-width: 576px) {
      margin:2px 0 0 6px;
    }
  }
}
