$primary: #3178FF;
$primary-accent: #2557FF;
$secondary: #8FC9FF;
$secondary-accent: #73BCFF;
$black: #2D2D2D;
$grey-1: #888888;
$grey-2: #B2B2B2;
$grey-3: #E3E7ED;
$grey-4: #F7F8FA;
$white: #FFFFFF;
// Disable Color
$grey-5: #D6D8DC;

$grey-6: #f6f6f6;
$like: #FF0000;
$gauge: #E4E4E4;
$text-1: #36332e;
$blueBgColor-1: #EEf7FF;
