$primary: #3178ff;
$primary-accent: #2557ff;
$secondary: #8fc9ff;
$secondary-accent: #73bcff;
$black: #2d2d2d;
$grey-1: #888888;
$grey-2: #b2b2b2;
$grey-3: #e3e7ed;
$grey-4: #f7f8fa;
$white: #ffffff;
// Disable Color
$grey-5: #d6d8dc;
$goal-background: #eef7ff;
$like: #ff0000;
