$primary: #3178ff;
$primary-accent: #2557ff;
$secondary: #8fc9ff;
$secondary-accent: #73bcff;
$black: #2d2d2d;
$grey-1: #888888;
$grey-2: #b2b2b2;
$grey-3: #e3e7ed;
$grey-4: #f7f8fa;
$white: #ffffff;
// Disable Color

$grey-5: #d6d8dc;

$grey-6: #f6f6f6;
$like: #ff0000;
$gauge: #e4e4e4;
$text-1: #36332e;
$blueBgColor-1: #eef7ff;
